.home-main-container {
    width: 100%;
    display: flex;
}

.current-picks-section {
    width: 30%;
}

.search-section {
    font-size: 18px;
    color: darkred;
    text-align: center;
    width: 40%;
}

.custom-input-section {
    width: 30%;
}