.item-card-main-container {
    text-align: left;
    margin-top: 5px;
    position: relative;
    width: 99%;
    height: 90px;
    background-color: rgb(74, 74, 74, 0.5);
    border-radius: 16px;
    display: flex;
}
.thumbnail {
    width: 60px;
    height: 90px;
}
.item-card-content-container {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overlay-add {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 0, 0.13);
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 16px 16px 0;
}
.overlay-add:hover {
    cursor: pointer;
}
.overlay-already-added {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 16px 16px 0;
}
.overlay-current-pick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.13);
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 16px 16px 0;
}
.overlay-current-pick:hover {
    cursor: pointer;
}
.overlay-recommendation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.13);
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 16px 16px 0;
}
.overlay-recommendation:hover {
    opacity: 1;
    cursor: pointer;
}
.item-card-title {
    max-width: 100%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-card-main-container:hover .overlay-add {
    opacity: 1;
}
.item-card-main-container:hover .overlay-already-added {
    opacity: 1;
}
.item-card-main-container:hover .overlay-current-pick {
    opacity: 1;
}